{#
    @var menus MenuCollection
    @var breadcrumb MenuCollection
#}

{% trans_default_domain menus.translation %}

<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->        
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..." />
                    <input type="button" class="submit" value=" " />
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        {% for menu in menus%}
            <li class="{% if loop.index == 1%}start{% endif %} {% if loop.index == menus|length %}last{% endif %} {% if menu.isSelected(breadcrumb) %}active {% if menu.children %}open{% endif %}{% endif %}">
                    <a {% if menu.route %}href="{{path(menu.route)}}" {%else%} href="javascript:;" {% endif %}>
                    <i class="icon-{{menu.icon}}"></i> 
                    <span class="title">{{menu.title|trans}}</span>
                    {% if menu.children %}
                    <span class="arrow {% if menu.isSelected(breadcrumb) %}open{% endif %}"></span>
                    {% endif %}
                    {% if menu.isSelected(breadcrumb) %}
                        <span class="selected"></span>
                    {% endif %}
                    </a>

                    {% if menu.children %}
                        {% include 'ZuniMenuBundle:Menu:childrenMenu.html.twig' with {'menus': menu.children,'breadcrumb': breadcrumb, "translation": menus.translation} %}
                    {% endif %}

            </li>
        {% endfor %}
    </ul>
    <!-- END SIDEBAR MENU -->
</div>